<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'css.html' %}
    <title>{% block title %}title{% endblock %} - website name</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class='container'>
      <div class='row'>
        <div class='col-6 mx-auto'>
          {% block content %}
          content goes here
          {% endblock %}
        </div>
      </div>
    </div>
    {% include 'js.html' %}
  </body>
</html>
