{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

  {% if title %}
    <h1>{{title}}</h1>
  {% endif %}

  <form method="post" action="." enctype="multipart/form-data"> {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
  </form>

{% endblock %}
