<div class="card mb-4">
  <div class="card-body">

    {% if link %}
    <a href="{{ post.get_absolute_url }}">
    {% endif %}
      {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top">
      {% endif %}
      <h5 class="card-title">
        {% if not comment %}
          {{ post.title }}
        {% else %}
          {{ post.user.username }}
        {% endif %}
      </h5>
    {% if link %}
    </a>
    {% endif %}

    <p class="card-text">
      {% if not comment %}
        <small class="text-muted">{{ post.publish_date }}
          {% if not post.publish_date %}
            - Draft
          {% elif post.publish_date > now %}
            - Pending
          {% endif %}
        </small>
      {% else %}
        <small class="text-muted">{{ post.timestamp }}</small>
      {% endif %}

      {% if truncate %}
        {{ post.content|linebreaks|truncatewords:30 }}
      {% else %}
        {{ post.content|linebreaks }}
      {% endif %}

      {% if edit %}
        <br>
        <a href="edit">Edit</a>
        <a href="delete">Delete</a>
      {% endif %}
    </p>
  </div>
</div>
