{% extends "base.html" %}

{% block title %}
  Delete {{ post.title }}
{% endblock %}

{% block content %}
  <h1>Are you sure you want to delete?</h1>
  <p>{{ post.title }}</p>

  <form method="post" action="."> {% csrf_token %}
    <button class="btn btn-danger" type="submit">Yes, Delete</button>
  </form>
{% endblock %}
