{% extends "base.html" %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
  {% include 'blog/list-inline.html' with post=post truncate=False link=False edit=can_edit %}

  {% if can_comment %}
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Add Comment</h5>
        <p class="card-text">
          {% include 'blog/post/form.html' with button_name='Comment' confirmation_text='Comment Added' %}
        </p>
      </div>
    </div>
  {% endif %}

  {% for comment in comments %}
    {% include 'blog/list-inline.html' with post=comment truncate=False link=False comment=True %}
  {% endfor %}
{% endblock %}
