<form method="post" action="." enctype="multipart/form-data"> {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">{{ button_name }}</button>
</form>

{% if valid %}
  <p>{{ confirmation_text }}</p>
{% endif %}
