{% extends "base.html" %}

{% block title %}
  Update {{ post.title }}
{% endblock %}

{% block content %}
  <h1>Update {{ post.title }}</h1>
  <p>{{ post.content }}</p>
  {% include 'blog/post/form.html' with button_name='Update' confirmation_text='Post Updated' %}
{% endblock %}
