{% extends "base.html" %}


{% block title %}
searching for {{ query }}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-12 col-8 mx-auto">
    {% if query %}
      <p class="lead">You searched for {{ query }}</p>
      {% for post in results %}
        {% include 'blog/list-inline.html' with post=post truncate=True link=True %}
      {% endfor %}
    {% else %}
      <form class="d-flex" action="/search/">
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    {% endif %}


  </div>
</div>

{% endblock %}
